body {
    background:rgb(86, 108, 138);
}
footer{
    margin-bottom: 2%;
    text-align: center;
    margin-top: 2%;
}
.backApp{
    background-color: rgba(91, 78, 165, 0.684);
    border-radius: 15px;
    padding-top: 50%;
    padding-bottom: 50%;
    margin-left:30%;
    margin-right: 30%;
}
#btn-1{
    border-radius: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 20%;
    padding-right: 20%;
    
    margin-left: 10%;

}
/* It targets only the app used within the browser */
@media (display-mode: browser) {
}
/* It targets only the app used with a system icon in standalone mode */
@media (display-mode: standalone) {
}
/* It targets only the app used with a system icon in all mode */
@media (display-mode: standalone), (display-mode: fullscreen), (display-mode: minimal-ui) {
}