    .header { /* Estilo del header */
    background-color: lightslategray;
    padding: 20px;
    text-align: center;
    }
    h1 {
        color: #f2f2f2;
        text-align: center;
    }
    

    body { /* Estilo del fondo */
      background-color: lightblue;
    }

    p {
        color: #f2f2f2;
        font-family: 'Times New Roman';
        font-size: 17px;
    }

    *{ /*Barra de navegación*/
        box-sizing: border-box;
    }   

    .barra { /*Estilo de la barra de navegación*/
        overflow: hidden;
        background-color: #333;
        padding: 16px 16px;
        display: block;
        color: #f2f2f2;
        font-family: 'Times New Roman';
        text-align: center;
        padding: 16px 16px;
        text-decoration: none;
    }


    body {
        margin: 0;
    }

    .botonBT { /*Estilo del botón para conexión Bluetooth*/
        background-color: #333; 
        border: 2px solid #f2f2f2;
        color: #f2f2f2;
        padding: 14px 14px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 4px;
    }

    .botonManejo { /*Estilo del botón para conexión Bluetooth*/
        background-color: lightslategray; 
        border: 2px solid #f2f2f2;
        color: #f2f2f2;
        padding: 14px 14px;
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: 14px;
        border-radius: 4px;
        width: 100px;
    }

    #contenedor { /*Para dividir la parte central*/
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 10px;
    }

    #colPrincipal { /*Columna principal que va a la derecha*/
        width: 70%;
    }

    #colSecundaria { /*Columna secundaria que tiene la imagen de Otto*/
        width: 30%;
    }

    *{
        box-sizing: border-box;
    }

    .pieDePag { /*Pie de página*/
        background-color: #333;
        padding: 10px;
        text-align: center;
        font-family: 'Times New Roman';
    }

    img { /*Para la foto del robot*/
        display: block;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
    }

    #contenedor2 { /*Para dividir la parte de manejo del robot*/
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 10px;
        margin: 0;
    }

    #columna2 { /*Columnas*/
        width: 25%;
    }

    